<%- partial('_partial/head') %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139973556-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139973556-1');
</script>


 <body>  
  <%- partial('_partial/navigation') %>
  <div class="container">
  	<div class="content">
    	 <%- body %>
	</div>
  </div>
  <div class="container-narrow">
  <footer> <%- partial('_partial/footer') %> </footer>
</div> <!-- container-narrow -->
  <%- partial('_partial/search') %>
  <%- partial('_partial/after_footer') %>
</body>
   </html>
